# Configfile example conifiguration

[LOGGING]
    # Allowed LOGLEVEL
    # DEBUG, WARNING, ERROR, CRITICAL, INFO
    LOGLEVEL = DEBUG
    LOGFILE = ./AlarmController.log
    #LOGMODE= SYSLOG
    LOGMODE = LOGFILE
   # LOGMODE = PRINT
    NAME = AlarmController
    LOGSERVER= 192.168.2.50

[BROKER]
  HOST= 192.168.2.20
  PORT= 1883
 # PUBLISH = CONSUMER/CH/BE/GARAGEDOOR
 # PUBLISH= SMARTHOME/CH/IN/ALRAMCONT01/ALARM
  #SUBSCRIBE = SMARTHOME/CH/BE/SENSOR01/GARAGEDOOR/COMMAND
  PUBLISH= SMARTHOME/DE/IN/ALARMCONTROLLER01/STATUS
  SUBSCRIBE = SMARTHOME/DE/IN/ALRMCONTROLLER01/CMD

[INPUT]
  [[KITCHEN]]
    IO = 4
    TYPE = ALARMLOOP
    0 = CLOSE
    1 = OPEN
    MODE = ACTIVE

  [[EATING]]
    IO = 17
    TYPE = ALARMLOOP
    0 = CLOSE
    1 = OPEN
    MODE = ACTIVE

  [[BATH]]
    IO = 27
    TYPE = ALARMLOOP
    0 = CLOSE
    1 = OPEN
    MODE = ACTIVE

  [[FRONTDOOR]]
    IO = 23
    TYPE = ALARMLOOP
    0 = CLOSE
    1 = OPEN
    MODE = ACTIVE

  [[FRONTDOORLOCK]]
    IO = 22
    TYPE = LOCK
    1 = UNLOCK
    0 = LOCK

  [[BACKDOORLOCK]]
    IO = 24
    TYPE = LOCK
    0 = LOCK
    1 = UNLOCK

  [[SABOTAGE]]
    IO = 25
    TYPE = SABOTAGE
    1 = OFF
    0 = ON

  [[PANIC]]
    IO = 11
    TYPE = PANIC
    0 = OFF
    1 = ON

  [[RESET]]
    IO = 10
    TYPE = RESET
    1 = OFF
    0 = ON

