#Contents of /etc/systemd/system/AlarmController.service
#systemctl daemon-reload
#systemctl enable AlarmController.service
#systemctl start AlarmController.service

[Unit]
Description=Alarm Controller
After=multi-user.target

[Service]
Type=idle
ExecStart=/opt/AlarmController/AlarmController.py /opt/AlarmController/AlarmController.py
Restart=on-failure
RestartSec=5s


[Install]
WantedBy=multi-user.target
