
# Configfile example conifiguration

[LOGGING]
    # Allowed LOGLEVEL
    # DEBUG, WARNING, ERROR, CRITICAL, INFO
    LOGLEVEL = DEBUG
    LOGFILE = ./AlarmMonitor.log
    #LOGMODE= SYSLOG
    LOGMODE = LOGFILE
    #LOGMODE = PRINT
    NAME = ALARM-MONITOR
    LOGSERVER= 192.168.2.50

[BROKER]
  HOST= 192.168.2.20
  PORT= 1883
 # PUBLISH = CONSUMER/CH/BE/GARAGEDOOR
 # PUBLISH= SMARTHOME/DE/IN/ALARMCONTROLLER01/STATUS
  SUBSCRIBE = SMARTHOME/DE/IN/ALARMCONTROLLER01/STATUS

[LED]
    FRONTDOORLOCK = 7
    BACKDOORLOCK = 6
    KITCHEN = 5
    EATING = 4
    BATH = 3
    FRONTDOOR = 2
    BASEMENTNORTH = 1
    BASEMENTSOUTH = 0

[DEVICE]
    I2C = 1
    ADDRESS = 0x20

